/* play-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-darkblue: #011c44;
  --color-primary-blue: #2b7fff;
  --color-primary-white: #ffffff;
  --color-secondary-darkgreey: #4a4a4a;
  --color-secondary-greey: #747272;
  --color-secondary-shadow: #a8c6f533;
}
/* Global */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-darkblue);
  background-color: var(--color-primary-white);
  background-image: linear-gradient(
    38.2deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 96px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Ссылки шапка*/
.link-header {
  color: var(--color-primary-darkblue);
  text-decoration: none;
  font-size: 18px;
}

.link-header:hover {
  color: var(--color-primary-blue);
}

.header-icon {
  width: 32px;
  height: 32px;
  fill: var(--color-primary-darkblue);
}

.header-icon:hover {
  fill: var(--color-primary-blue);
}

/* Кнопки */
.button {
  padding: 16px 32px;
  margin-bottom: 14px;
  color: var(--color-primary-white);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
  border-radius: 32px;
  cursor: pointer;
}
.button:hover {
  color: var(--color-primary-darkblue);
  background-color: transparent;
}

.button-p {
  margin: 0;
  color: var(--color-secondary-darkgreey);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-list {
  display: flex;
  gap: 32px;
}

.header-list:last-child {
  padding-right: 102px;
}

/* Main section */
.main-section {
  padding-bottom: 126px;
  background-image: linear-gradient(
      89.38deg,
      var(--color-primary-white) 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(../images/main-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 529px;
  padding: 0 106px;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 238px;
}

.main-title {
  margin-bottom: 40px;
  color: var(--color-primary-blue);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
}

.title-p {
  margin-bottom: 16px;
  font-size: 18px;
}
/* Advantages Section */
.section-title {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.section-title.center {
  text-align: center;
}

.section-title .accent {
  color: var(--color-primary-blue);
}

.section-title .beauty-zone {
  text-transform: capitalize;
}
/* About Section */
.about-section {
  padding-bottom: 176px;
}

.about-container {
  display: flex;
  gap: 32px;
}

.about-content {
  max-width: 709px;
}

.about-title {
  margin-bottom: 40px;
  max-width: 529px;
}

.about-text {
  margin-bottom: 40px;
  line-height: 1.7;
}
.about-text .beauty-zone {
  font-weight: 700;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px var(--color-secondary-shadow);
}

/* Choice section */
.choice-title {
  margin: 0 auto 48px auto;
  max-width: 450px;
}

.choice-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 56px;
}

.choice-card {
  height: 181px;
  max-width: 316px;
  padding: 24px 32px;
  background-color: var(--color-primary-white);
  border: 1px solid var(--color-primary-white);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px var(--color-secondary-shadow);
  text-align: center;
}

.choice-icon {
  width: 48px;
  height: 48px;
  fill: var(--color-primary-blue);
}

.choice-text {
  max-width: 250px;
  margin-bottom: 0;
  font-size: 18px;
}
/* Procedures section */
.procedures-title {
  margin-bottom: 48px;
}

.procedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.procedures-items {
  height: 456px;
  max-width: 344px;
  padding: 372px 77px 32px 115px;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-primary-darkblue) 101.39%
  );
  border: 1px solid black;
  border-radius: 4px 120px;
}

.procedures-text {
  color: var(--color-primary-white);
  text-align: center;
}

.procedures-text.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid var(--color-primary-darkblue);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--color-primary-darkblue);
  cursor: pointer;
}

.carousel-arrow {
  width: 16px;
  height: 16px;
}

.carousel-button:hover {
  border: 1px solid var(--color-primary-white);
  background-color: var(--color-primary-blue);
  fill: var(--color-primary-white);
}
/* Contact section */
.contact-title {
  margin-bottom: 48px;
}
/* Footer */
.footer {
  background-color: var(--color-primary-darkblue);
  background-image: url(../images/background.svg);
  padding: 56px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.address-menu {
  flex-grow: 1;
}

.address-info {
  flex-grow: 1;
}

/* Ссылки footer*/
.link-footer {
  margin-bottom: 16px;
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
}

.link-footer:hover {
  color: var(--color-primary-blue);
}
/* address link */
.address-link {
  margin-bottom: 16px;
  color: var(--color-primary-white);
  font-size: 16px;
  line-height: 1.2;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-primary-blue);
}

.address-copy {
  color: var(--color-secondary-greey);
  font-size: 13px;
  line-height: 1.2;
}

.footer-icon {
  width: 42px;
  height: 42px;
  fill: var(--color-primary-white);
}

.footer-icon:hover {
  fill: var(--color-primary-blue);
}
