:root {
  --color-primary-darkblue: #011c44;
  --color-primary-blue: #2b7fff;
  --color-primary-white: #ffffff;
  --color-secondary-darkgreey: #4a4a4a;
  --color-secondary-greey: #747272;
  --color-secondary-shadow: #a8c6f533;
  --color-secondary-darkblue: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
