.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid var(--color-primary-darkblue);
  border-radius: 50%;
  background-color: transparent;
  fill: var(--color-primary-darkblue);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-primary-white);
    background-color: var(--color-primary-blue);
    fill: var(--color-primary-white);
  }

  &__arrow {
    width: 16px;
    height: 16px;
  }

  &.next {
    transform: rotate(180deg);
  }
}
