.section {
  padding-bottom: 96px;

  @media screen and (max-width: $bp-tablet) {
    padding-bottom: 40px;
  }

  &__title {
    font-family: "Play", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;

    @media screen and (max-width: $bp-tablet) {
      font-family: "Roboto", sans-serif;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.15;
    }

    &--center {
      text-align: center;
    }
  }
}
